<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#type">Simple collapsible</button>
<div id="type" class="collapse">
    <div  ng-repeat="type in model.types ">
        {{type}}
    </div>
    <div >



    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-valid ng-dirty ng-touched">beer
    </div><!-- end ngRepeat: base in model.tag1 -->
mie mie

    <label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">bourbon
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">champagne
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">cognac
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">cordials
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">gin
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">rum
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">rye
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">sparkling
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">tequila
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">vermouth
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">vodka
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">whisky
</label><!-- end ngRepeat: base in model.tag1 --><label ng-repeat="base in model.tag1" class="ng-binding ng-scope">
    <input type="checkbox" ng-model="model.pushTag1[base.value]" class="ng-pristine ng-untouched ng-valid">wine
</label>
</div>

