<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a class="content-color-black margin-left"

               ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left "></span>
            </a>
        </div>
        <a ng-href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
            <div class="navbar-text pull-right margin-right">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
        </a>
        <a ng-click = "model.update_widget(model.widgetId,model.widget,model.pageId);"
           ng-href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <div class="navbar-text pull-right margin-right">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
        </a>
        <div class="navbar-header">
            <a class="navbar-brand">Widget Editor</a>
        </div>
    </div>
</nav>



<div class="container-fluid"
     ng-include="model.getEditorTemplateUrl()">



</div>


<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <a href="#/profile/{{model.userId}}">
            <div class="navbar-text pull-right margin-right content-color-blue">
                <span class="glyphicon glyphicon-user"></span>
            </div>
        </a>
    </div>
</nav>