<h1>HEADER Editor</h1>
<label>Name</label>
<input ng-model="model.widget.name" class="form-control"/>

<label>Text</label>
<input ng-model="model.widget.text" class="form-control"/>

<label>Size</label>
<select ng-model = "model.widget.size"class="form-control margin-bottom-18px">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
</select>

<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/"
   ng-click = "model.delete(model.widgetId)"
   class="btn btn-danger btn-block">Delete Heading</a>