
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-1">
            <div class="navbar-text pull-left margin-left">
                <a class="content-color-white" href="#/user/{{model.userId}}/website/">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                </a>
            </div>
        </div>
        <!--Left Header-->
        <div class="col-sm-3 hidden-xs">
            <div class="navbar-header">
                <a class="navbar-brand pull-left">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right" >
                <a class="content-color-white" href="#/user/{{model.userId}}/website/new" >
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <!--Right Header-->
        <div class="col-sm-8">
            <div>
                <a class="navbar-brand">
                    Edit Website
                </a>
            </div>
        </div>
    </div>
</nav>

<!--Content-->

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        Name
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/website/new" class="pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li ng-repeat="website in model.websites" class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        {{website.name}}
                    </div>
                    <div class="col-xs-2">
                        <a class="glyphicon glyphicon-cog pull-right" href = "#/user/{{model.userId}}/website/{{website._id}}"></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-8 wbdv-right-pane col-xs-12">
        <div class="alert alert-success" role="alert">
            Your website has been created
            <span class="glyphicon glyphicon-remove pull-right"></span>
        </div>
        <div id = "e" class="alert alert-danger" hidden>
            Update failed
        </div>
        <label for="website-name">Website Name</label>
        <input ng-model="model.website.name" placeholder="Website Name"
               value="Facebook"
               ng-change = "model.nameError()"

               class="form-control"
               id="website-name"/>
        <p id = "q" hidden >Name is required</p>

        <label for="website-description">Website Description</label>
        <textarea ng-model="model.website.description" placeholder="Website Description"
                  class="form-control"
                  id="website-description">{{model.website.name}}</textarea>

        <a ng-click = "model.update(model.website)"
           class="btn btn-primary btn-block">
            Update
        </a>
        <a ng-click="model.deleteWebsite()"
           class="btn btn-danger btn-block">
            Delete
        </a>
    </div>
</div>

<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <a href="#/profile/{{model.userId}}">
            <div class="navbar-text pull-right margin-right">
                <span class="glyphicon glyphicon-user"></span>
            </div>
        </a>
    </div>
</nav>
